.posterImage {
  height: 600px;
}

.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
}

.posterImage-overlay {
  position: absolute;
  padding: 5rem;
  bottom: 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 1;
  transition: opacity 0.3s;
}

.posterImage-overlay:hover {
  opacity: 1;
}

.posterImage-title {
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 0.4rem;
  text-align: left;
}

.posterImage-runtime {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.posterImage-rating {
  margin-left: 3rem;
}

.posterImage-description {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
  width: 50%;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .posterImage {
    height: 600px;
  }

  .posterImage-overlay {
    padding: 4rem;
  }

  .posterImage-title {
    font-size: 3.5rem;
  }

  .posterImage-runtime {
    font-size: 1.75rem;
  }
}

@media (max-width: 992px) {
  .posterImage {
    height: 500px;
  }

  .posterImage-overlay {
    padding: 3rem;
  }

  .posterImage-title {
    font-size: 3rem;
  }

  .posterImage-runtime {
    font-size: 1.5rem;
  }

  .posterImage-rating {
    margin-left: 2rem;
  }

  .posterImage-description {
    font-size: 0.9rem;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .posterImage {
    height: 400px;
  }

  .posterImage-overlay {
    padding: 2rem;
  }

  .posterImage-title {
    font-size: 2.5rem;
  }

  .posterImage-runtime {
    font-size: 1.25rem;
  }

  .posterImage-rating {
    margin-left: 1rem;
  }

  .posterImage-description {
    font-size: 0.8rem;
    width: 70%;
  }
}

@media (max-width: 576px) {
  .posterImage {
    height: 300px;
  }

  .posterImage-overlay {
    padding: 1rem;
  }

  .posterImage-title {
    font-size: 1rem;
  }

  .posterImage-runtime {
    font-size: 1rem;
  }

  .posterImage-rating {
    margin-left: 0.5rem;
  }

  .posterImage-description {
    font-size: 0.7rem;
    visibility: hidden;
    width: 80%;
  }
}
